.header {
    display: flex;
    justify-content: space-between;
}

.section1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.maincontainer {
    display: flex;
    flex-direction: column;
}

.section2 .title {
    text-align: center;
}

.boxes {
    display: flex;
    justify-content: space-between;
}

.boxtext {
    border: 10px solid blue;
    padding: 50px 0;
}

.section3 {
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quote {
    font-size: 24px;
}

.author {
    font-weight: bold;
}

.section4 {
    display: flex;
    justify-content: center;
    align-items: center;
}