.header, .section1, .footer {
    background-color: #1F2937;
}

a {
    text-decoration: none;
    padding-right: 10px;
}

.header .right-links {
    padding: 10px 20px;
}

.header .logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

a, .maincontent .content {
    font-size: 18px;
    color: #E5E7EB;
}

.header {
    display: flex;
    justify-content: space-between;
}

.maincontent .title {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.CTA, .section4 .minibox, .signup-button{
    background-color: #3882F6;
}

.CTA {
    color: white;
    border: none;
    border-radius: 10px;
    padding: 8px 25px;
    font-weight: bold;
    margin-top: 5px;

}

.section2 .title {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.section3 .quote {
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
    font-weight: lighter;
}

.section3 .author {
    margin-left: auto;
}

.maincontainer {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100vh;
}


.section1, .section2, .section3, .section4 {
    flex: 1;
    padding: 50px 100px;
}



.section1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section1 .maincontent, .section1 .mainimage{
    flex:1;
}


.mainimage { 
    color:#F9FAF8;
    background-color: gray;
    align-self: stretch;
}
.section2 .title {
    text-align: center;
    margin-bottom: 25px;
}

.boxes {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.boximg {
    border: 3px solid #3882F6;;
    padding: 50px 0;
    border-radius: 8px;
}

.boxes p {
    text-align: center;
}

.section3 {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quote {
    font-size: 24px;
}

.author {
    font-weight: bold;
}

.section4 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.section4 .contenttitle {
    font-weight: bold;
}

.section4 .content {
    font-size: 12px;
}

.section4 .minibox{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 50px;
    border-radius: 10px;
    gap: 50px;
}

.signup-button {
    color: white;
    border-color: white;
    border-style: solid;
    padding: 5px 10px;
    border-radius: 10px;
    font-weight: bold;
    min-width: 100px;
}

.footer {
    color:#F9FAF8;
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
}